body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f8;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    font-size: 20px;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    gap: 20px;
}

.card {
    padding: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    display: block;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.blue { background: #2f80ed; }
.yellow { background: #f2c94c; color: black; }
.cyan { background: #56ccf2; }
.red { background: #eb5757; }
.dark { background: #333; }
